.create-experience {
    border: 1px solid #ccc;
  }
  
  .create-experience label {
    display: flex;
    justify-content: space-between;
  }
  
  .create-experience button {
    display: block;
    margin: auto;
  }

  .subir-imagen{
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    
    width: 100px;
    height: 100px;
    border: 1px solid black;
  }

  .esconder {
    width: 0;
  }