.experiencias{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 10px;
}

.img-experience{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    border: 5px solid rgba(241, 137, 17, 0.932);
    border-radius: 40px;
}

.experiencia-nombre{
    color: white;
    text-align: center;
    padding: 30px;
}

.experiencias a{
    text-decoration: none;
}
